#blog-list {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.blog-item {
    text-decoration: none;
    transition: font-size 0.1s;
    color: $color-primary-4;

    h3 {
        color: $color-primary-0;
    }

    &:hover {
        font-size: 1.1em;
    }
}

#blog {
    width: 100%;

    h1 {
        text-align: center;
        background-color: $color-primary-0;
        color: white;
        padding: 16px;
        margin: 0 0 64px 0;
        width: 100%;
    }

    .introduction {
        font-style: italic;
        text-align: right;
        width: 95%;
        max-width: 600px;
        margin: 0 auto;
    }

    .content {
        color: #555;
        width: 95%;
        max-width: 600px;
        margin: 0 auto;
    }
}
