.main {
    .img-fit {
        height: 200px;
    }

    .header-img {
        width: 100%;
        object-fit: cover;
        max-height: 700px;
    }

    #profile-pic {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
