.main {
    .main-info {
        width: 100%;
        background-image: url("/images/main.jpg");
        background-color: $color-primary-1;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #profile-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0;

        #profile-pic {
            object-fit: cover;
            width: 216px;
            height: 216px;
            border-radius: 50%;
            border: 4px solid white;
        }

        #profile-bubble {
            color: white;
            background-color: $main-color;
            margin: 24px 20px;
            padding: 24px;
            border-radius: 50px;
            line-height: 1;
            text-align: center;
        }
    }

    @media only screen and (min-width: 600px) {
        #profile-box {
            flex-direction: row;
            justify-content: center;
        }
    }
}
