nav {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;

    div {
        display: inline-block;
        &.left-nav {
            flex: 1;
        }
        &.right-nav {
            a {
                margin: 5px;
            }
        }
    }

    a.nav-item {
        text-decoration: none;
        color: $menu-color;
        transition: font-size 0.1s;

        // nesting is also supported
        &:hover {
            text-decoration: underline;
            font-size: 1.5em;
        }
    }

    a#logo {
        text-decoration: none;
        transition: font-size 0.1s;

        &:hover {
            font-size: 1.6em;
        }
    }
}
