$menu-color: #AA4839;

nav {
    a.nav-item {
        text-decoration: none;
        color: $menu-color;
        transition: font-size 0.1s;

        // nesting is also supported
        &:hover {
            text-decoration: underline;
            font-size: 1.5em;
        }
    }

    a#logo {
        text-decoration: none;
        transition: font-size 0.1s;

        &:hover {
            font-size: 1.6em;
        }
    }
}
