$font-stack: 'Overpass', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
$base-font-size: 1.125em;
// $title-color: #022A35;
$title-color: #297C98;
// $menu-color: #AA4839;
$menu-color: #F3573A;
// $main-color: #265B6A;
$main-color: #07516A;
