/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: local("Overpass Thin Italic"), local("Overpass-ThinItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdD35WCmI96Ajtm81Gga7rayz8NoVgyNIjK.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 100;
  src: local("Overpass Thin Italic"), local("Overpass-ThinItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdD35WCmI96Ajtm81Gga7raxT8NoVgyNA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: local("Overpass ExtraLight Italic"), local("Overpass-ExtraLightItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81GgaxbL0hYojnA4PLDzOA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 200;
  src: local("Overpass ExtraLight Italic"), local("Overpass-ExtraLightItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81GgaxbL0hgojnA4PLA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: local("Overpass Light Italic"), local("Overpass-LightItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga3LI0hYojnA4PLDzOA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 300;
  src: local("Overpass Light Italic"), local("Overpass-LightItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga3LI0hgojnA4PLA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: local("Overpass Italic"), local("Overpass-Italic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: local("Overpass Italic"), local("Overpass-Italic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: local("Overpass SemiBold Italic"), local("Overpass-SemiBoldItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81GgawbO0hYojnA4PLDzOA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 600;
  src: local("Overpass SemiBold Italic"), local("Overpass-SemiBoldItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81GgawbO0hgojnA4PLA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: local("Overpass Bold Italic"), local("Overpass-BoldItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga2LP0hYojnA4PLDzOA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 700;
  src: local("Overpass Bold Italic"), local("Overpass-BoldItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga2LP0hgojnA4PLA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: local("Overpass ExtraBold Italic"), local("Overpass-ExtraBoldItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga37M0hYojnA4PLDzOA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 800;
  src: local("Overpass ExtraBold Italic"), local("Overpass-ExtraBoldItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga37M0hgojnA4PLA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: local("Overpass Black Italic"), local("Overpass-BlackItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga1rN0hYojnA4PLDzOA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 900;
  src: local("Overpass Black Italic"), local("Overpass-BlackItalic"), url(https://fonts.gstatic.com/s/overpass/v3/qFdC35WCmI96Ajtm81Gga1rN0hgojnA4PLA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: local("Overpass Thin"), local("Overpass-Thin"), url(https://fonts.gstatic.com/s/overpass/v3/qFdB35WCmI96Ajtm81nGY9fqxzUKg1oCNQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 100;
  src: local("Overpass Thin"), local("Overpass-Thin"), url(https://fonts.gstatic.com/s/overpass/v3/qFdB35WCmI96Ajtm81nGY9nqxzUKg1o.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: local("Overpass ExtraLight"), local("Overpass-ExtraLight"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81lqcs7D4hoiiVI6DLE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 200;
  src: local("Overpass ExtraLight"), local("Overpass-ExtraLight"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81lqcs7N4hoiiVI6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: local("Overpass Light"), local("Overpass-Light"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81kOcc7D4hoiiVI6DLE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: local("Overpass Light"), local("Overpass-Light"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81kOcc7N4hoiiVI6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v3/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Regular"), local("Overpass-Regular"), url(https://fonts.gstatic.com/s/overpass/v3/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: local("Overpass SemiBold"), local("Overpass-SemiBold"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81l6d87D4hoiiVI6DLE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: local("Overpass SemiBold"), local("Overpass-SemiBold"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81l6d87N4hoiiVI6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Bold"), local("Overpass-Bold"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81keds7D4hoiiVI6DLE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Bold"), local("Overpass-Bold"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81keds7N4hoiiVI6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: local("Overpass ExtraBold"), local("Overpass-ExtraBold"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81kCdc7D4hoiiVI6DLE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: local("Overpass ExtraBold"), local("Overpass-ExtraBold"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81kCdc7N4hoiiVI6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: local("Overpass Black"), local("Overpass-Black"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81kmdM7D4hoiiVI6DLE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: local("Overpass Black"), local("Overpass-Black"), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81kmdM7N4hoiiVI6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: local("Overpass Mono Light"), local("OverpassMono-Light"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xm3-H86tzKDdAPa-KPQZ-AC3oSWo_6XBlRc4EUk4A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300;
  src: local("Overpass Mono Light"), local("OverpassMono-Light"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xm3-H86tzKDdAPa-KPQZ-AC3oSWo_CXBlRc4EU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0tt21C35m6Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Overpass Mono Regular"), local("OverpassMono-Regular"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0tt21C34.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: local("Overpass Mono SemiBold"), local("OverpassMono-SemiBold"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_6XBlRc4EUk4A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 600;
  src: local("Overpass Mono SemiBold"), local("OverpassMono-SemiBold"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xm3-H86tzKDdAPa-KPQZ-AC3vCQo_CXBlRc4EU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Mono Bold"), local("OverpassMono-Bold"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xm3-H86tzKDdAPa-KPQZ-AC3pSRo_6XBlRc4EUk4A.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 700;
  src: local("Overpass Mono Bold"), local("OverpassMono-Bold"), url(https://fonts.gstatic.com/s/overpassmono/v4/_Xm3-H86tzKDdAPa-KPQZ-AC3pSRo_CXBlRc4EU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.blog-posts header {
  background-color: #D76A9B;
  text-align: center;
  width: 100%;
  margin: 0 0 16px 0; }

.blog-posts h1 {
  color: white;
  padding: 16px 0 8px 0;
  margin: 0; }

#blog-list {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto; }

.blog-item {
  text-decoration: none;
  transition: background-color 0.1s;
  color: #A1235C;
  margin: 0;
  margin-top: 16px;
  padding: 8px;
  border-radius: 5px; }
  .blog-item .created {
    color: #333;
    margin-top: 0px;
    margin-bottom: 8px; }
  .blog-item .introduction {
    margin: 0px; }
  .blog-item h3 {
    color: #D76A9B;
    margin: 0; }
  .blog-item:hover {
    background-color: #FFDECB; }

#blog {
  width: 100%; }
  #blog header {
    background-color: #D76A9B;
    text-align: center;
    width: 100%;
    margin: 0 0 64px 0;
    min-height: 110px; }
  #blog h1 {
    color: white;
    padding: 16px 0 0 0;
    margin: 0; }
  #blog .introduction {
    margin: 0;
    color: white;
    padding: 0 0 16px 0; }
  #blog .created {
    font-style: italic;
    text-align: right;
    width: 95%;
    max-width: 600px;
    margin: 0 auto; }
  #blog .content {
    color: #555;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 550;
    line-height: 1.2; }
  @media only screen and (min-width: 600px) {
    #blog .content {
      line-height: 1.5; } }

.main .main-info {
  width: 100%;
  background-image: url("/images/mai.jpg");
  background-color: #F3C2D8;
  background-repeat: no-repeat;
  background-size: 100%; }

.main #profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0; }
  .main #profile-box #profile-pic {
    object-fit: cover;
    width: 216px;
    height: 216px;
    border-radius: 50%;
    border: 4px solid white; }
  .main #profile-box #profile-bubble {
    color: white;
    background-color: #D76A9B;
    margin: 24px 20px;
    padding: 24px;
    padding-top: 28px;
    border-radius: 50px;
    line-height: 1;
    text-align: center; }

@media only screen and (min-width: 600px) {
  .main #profile-box {
    flex-direction: row;
    justify-content: center; } }

.main .abilities {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main .abilities h2 {
    color: #BB437A; }

.main .box-abilities {
  display: flex;
  flex-direction: column;
  width: 100vw; }

.main .color-1 {
  background-color: #FFDECB; }

.main .color-2 {
  background-color: #D1BCE7; }

.main .color-3 {
  background-color: #F3C2D8; }

.main .ability {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; }
  .main .ability img {
    margin: 10%;
    max-width: 80%; }

@media only screen and (min-width: 600px) {
  .main .box-abilities {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw; }
  .main .ability {
    width: 20vw;
    height: 20vw;
    margin: 0 3% 3% 3%; } }

nav {
  max-width: 800px;
  padding: 0 20px;
  margin: 8px auto;
  display: flex;
  align-items: center; }
  nav div {
    display: inline-block; }
    nav div.left-nav {
      flex: 1; }
    nav div.right-nav a {
      margin: 5px; }
  nav a.nav-item {
    text-decoration: none;
    color: #FFAC7D;
    transition: color 0.1s; }
    nav a.nav-item:hover {
      text-decoration: underline;
      color: #FFC4A3; }
  nav a#logo {
    text-decoration: none;
    transition: color 0.1s; }
    nav a#logo:hover {
      color: #F3C2D8; }

#page {
  margin-top: 50px; }

#nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; }

.loader {
  display: flex;
  width: 100%;
  justify-content: center; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-pink {
  background: #D76A9B; }

.lds-white {
  background: white; }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.body-container {
  font-family: "Overpass", "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  background-color: #FFF;
  color: #BB437A;
  margin: 0;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3 {
  color: #000; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

a#logo {
  margin-right: 10px;
  color: #D76A9B;
  font-weight: bold;
  font-size: 1.5em; }

p {
  font-size: 0.875em; }

.hidden {
  display: none; }
