.body-container {
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: #FFF;
  color: #265B6A; }

h1, h2, h3 {
  color: #000; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

nav a.nav-item {
  text-decoration: none;
  color: #AA4839;
  transition: font-size 0.1s; }
  nav a.nav-item:hover {
    text-decoration: underline;
    font-size: 1.5em; }

nav a#logo {
  text-decoration: none;
  transition: font-size 0.1s; }
  nav a#logo:hover {
    font-size: 1.6em; }

.blog-item {
  text-decoration: none;
  transition: font-size 0.1s;
  color: #265B6A; }
  .blog-item h3 {
    color: #022A35; }
  .blog-item:hover {
    font-size: 1.1em; }

a#logo {
  margin-right: 10px;
  color: #022A35;
  font-weight: bold;
  font-size: 1.5em; }

#blog {
  max-width: 400px; }
  #blog h3 {
    color: #022A35; }
  #blog .introduction {
    font-style: italic;
    text-align: right; }
