.main .img-fit {
  height: 200px; }

.main .header-img {
  width: 100%;
  object-fit: cover;
  max-height: 700px; }

.main #profile-pic {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%; }

nav {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex; }
  nav div {
    display: inline-block; }
    nav div.left-nav {
      flex: 1; }
    nav div.right-nav a {
      margin: 5px; }
  nav a.nav-item {
    text-decoration: none;
    color: #F3573A;
    transition: font-size 0.1s; }
    nav a.nav-item:hover {
      text-decoration: underline;
      font-size: 1.5em; }
  nav a#logo {
    text-decoration: none;
    transition: font-size 0.1s; }
    nav a#logo:hover {
      font-size: 1.6em; }

.body-container {
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: #FFF;
  color: #07516A; }

h1, h2, h3 {
  color: #000; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

.blog-item {
  text-decoration: none;
  transition: font-size 0.1s;
  color: #07516A; }
  .blog-item h3 {
    color: #297C98; }
  .blog-item:hover {
    font-size: 1.1em; }

a#logo {
  margin-right: 10px;
  color: #297C98;
  font-weight: bold;
  font-size: 1.5em; }

#blog {
  max-width: 400px; }
  #blog h3 {
    color: #297C98; }
  #blog .introduction {
    font-style: italic;
    text-align: right; }
